body {
 Play Online at the-impossiblequiz-gg.github.io</title>font-family: 'Poppins', sans-serif;
 Play Online at the-impossiblequiz-gg.github.io</title>color: rgb(202, 202, 202);
}
body {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #00192c !important;
}
body.login-body {
 Play Online at the-impossiblequiz-gg.github.io</title>background-color: #211328;
}
.dropdown-menu li:last-child a {
 Play Online at the-impossiblequiz-gg.github.io</title>border: 0;
}
img {
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>height: auto;
}
a:link {
 Play Online at the-impossiblequiz-gg.github.io</title>text-decoration: none;
}
a:visited {
 Play Online at the-impossiblequiz-gg.github.io</title>text-decoration: none;
}
.top-nav {
 Play Online at the-impossiblequiz-gg.github.io</title>/*! background-color: rgb(0, 18, 47); */
 Play Online at the-impossiblequiz-gg.github.io</title>border-bottom: 1px solid #092235;
}
.top-nav a {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
}
.nav-link {
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: 500;
}
.navbar-nav {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 20px;
}
.dropdown-menu {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #002542;
}
.text-center.htt {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 80px;
}
.bgh {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 30px;
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 30px;
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 25px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #0ac0fe;
}
ul {
 Play Online at the-impossiblequiz-gg.github.io</title>text-align: left;
}
ul li {
 Play Online at the-impossiblequiz-gg.github.io</title>margin: 20px 0;
}
h3 {
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold !important;
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 28px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #FFF;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 45px;
}
h2 {
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold !important;
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 25px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #FFF;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 40px;
}
.dropdown-menu .dropdown-item {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 15px 25px 14px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-bottom: 1px solid #133753;
}
ul.user-links {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #3b3255;
 Play Online at the-impossiblequiz-gg.github.io</title>z-index: 20;
}
ul.user-links li {
 Play Online at the-impossiblequiz-gg.github.io</title>color: unset;
}
.search-bar {
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: 200px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-left: auto;
 Play Online at the-impossiblequiz-gg.github.io</title>position: relative;
}
.search-bar input.search {
 Play Online at the-impossiblequiz-gg.github.io</title>text-indent: 28px;
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 25px!important;
 Play Online at the-impossiblequiz-gg.github.io</title>border: none;
 Play Online at the-impossiblequiz-gg.github.io</title>height: 50px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 0;
}
.search-bar .bi-search {
 Play Online at the-impossiblequiz-gg.github.io</title>position: absolute;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>top: 14px;
 Play Online at the-impossiblequiz-gg.github.io</title>left: 15px;
}
.search-bar .form-control::placeholder {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>opacity: 0.5;
}
.category-description {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin: 20px 0;
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>border-left-width: 5px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 3px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-left-color: #5bc0de;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 40px;
}
.pagination-wrapper {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 20px;
}
.card {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #002d4f;
 Play Online at the-impossiblequiz-gg.github.io</title>margin: 20px 0 0;
}
.card button {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #FFF;
}
.pagination .page-link {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #7f598e;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>border: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px 18px;
}
.page-link:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #574260;
}
.pagination .disabled .page-link {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #503759;
}
.single-title, .page-title {
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: calc(1.3rem + .6vw);
 Play Online at the-impossiblequiz-gg.github.io</title>color: #61cfff !important;
}
h1.display-4 {
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: ;
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 50px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
}
a:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #12d7ff;
}
a {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #61cfff;
}
.jumbotron.text-center.bg-primary.text-white {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 100px 20px 85px;
 Play Online at the-impossiblequiz-gg.github.io</title>background: linear-gradient(to bottom, #0db9ff,#13deff);
 Play Online at the-impossiblequiz-gg.github.io</title>color: #00192c !important;
}
#nav-menu {
}
.item-title {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 30px;
}
.section-title {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 30px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 30px;
}
.grid-container {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 15px;
}
.img-rounded {
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 20%;
}
.small-thumb {
 Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
}
.list-info {
 Play Online at the-impossiblequiz-gg.github.io</title>color: rgba(255, 255, 255, 0.5);
}
.list-title {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
 Play Online at the-impossiblequiz-gg.github.io</title>text-overflow: ellipsis;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
}
.list-category {
 Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
 Play Online at the-impossiblequiz-gg.github.io</title>text-overflow: ellipsis;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
}
.text-ellipsis {
 Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
 Play Online at the-impossiblequiz-gg.github.io</title>text-overflow: ellipsis;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
}
.game-tag-list {
 Play Online at the-impossiblequiz-gg.github.io</title>display: flex;
 Play Online at the-impossiblequiz-gg.github.io</title>flex-wrap: wrap;
}
.tag-item {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 4px 14px;
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 8px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 8px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 8px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
}
.game-item {
 Play Online at the-impossiblequiz-gg.github.io</title>display: flex;
 Play Online at the-impossiblequiz-gg.github.io</title>flex-wrap: wrap;
}
.grid-2 .game-item:hover, .grid-3 .game-item:hover, .list-vertical:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 20px;
}
.list-game {
 Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
}
.list-game-x:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px;
 Play Online at the-impossiblequiz-gg.github.io</title>background-color: #eef0f2;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 10px;
 Play Online at the-impossiblequiz-gg.github.io</title>scale: 1.2;
}
.list-rating {
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 14px;
}
.gamelist-vertical-widget .list-thumbnail {
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: 80px;
 Play Online at the-impossiblequiz-gg.github.io</title>float: left;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 15px;
}
.grid-1 .list-game {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 40px;
}
.grid-1 .list-info {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin: 0.35714em;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>text-overflow: ellipsis;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>text-align: center;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>position: relative;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>bottom: 65px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: -53px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>opacity: 0;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>font-weight: 700;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>font-size: 18px;
}
.grid-2 {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
}
.grid-2 .list-thumbnail {
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: 100px;
 Play Online at the-impossiblequiz-gg.github.io</title>float: left;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 15px;
}
.grid-2 .list-title {
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: 500;
}
.grid-3 .list-game {
 Play Online at the-impossiblequiz-gg.github.io</title>background: Play Online at the-impossiblequiz-gg.github.io</title>rgba(225, 225, 225, 0.15);
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 15px;
}
.grid-3 .list-thumbnail {
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
 Play Online at the-impossiblequiz-gg.github.io</title>margin: 0;
}
.grid-3 .list-title {
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 18px;
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: 500;
}
.grid-3 .list-category, .gamelist-vertical-widget .list-category {
 Play Online at the-impossiblequiz-gg.github.io</title>font-style: italic;
 Play Online at the-impossiblequiz-gg.github.io</title>opacity: 0.7;
}
.grid-3 .list-game {
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
}
.grid-3 .list-info {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px;
}
.grid-3 {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
}
@media(hover: hover) and (pointer: fine) {
 Play Online at the-impossiblequiz-gg.github.io</title>.grid-1 .list-game:hover > .list-info {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>opacity: 1;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>transition: all 0.5s ease;
 Play Online at the-impossiblequiz-gg.github.io</title>}
 Play Online at the-impossiblequiz-gg.github.io</title>.list-thumbnail:hover {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>opacity: 0.5;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>transition: all 0.5s ease;
 Play Online at the-impossiblequiz-gg.github.io</title>}
}
.list-1 .list-thumbnail {
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: 90px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 15px;
}
.list-1 .list-thumbnail img {
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 50%;
}
.row-list-1 {
 Play Online at the-impossiblequiz-gg.github.io</title>position: relative;
}
.list-1-wrapper {
 Play Online at the-impossiblequiz-gg.github.io</title>display: block;
 Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
 Play Online at the-impossiblequiz-gg.github.io</title>padding-left: 70px;
}
.list-1-wrapper .game-item {
 Play Online at the-impossiblequiz-gg.github.io</title>display: inline-block;
 Play Online at the-impossiblequiz-gg.github.io</title>text-align: center;
}
.footer {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 40px 0;
}
.border-line {
 Play Online at the-impossiblequiz-gg.github.io</title>border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.dsb-panel {
 Play Online at the-impossiblequiz-gg.github.io</title>display: block;
 Play Online at the-impossiblequiz-gg.github.io</title>text-align: center;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 20px;
}
.footer-copyright {
}
.header-area {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 40px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 40px;
 Play Online at the-impossiblequiz-gg.github.io</title>text-align: center;
}
.masthead-title {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
}
.masthead-description {
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: 800px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin: 0 auto;
}
.masthead-description h3 {
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 20px;
}
ul.list-categories {
 Play Online at the-impossiblequiz-gg.github.io</title>list-style: none;
 Play Online at the-impossiblequiz-gg.github.io</title>display: flex;
 Play Online at the-impossiblequiz-gg.github.io</title>flex-wrap: wrap;
 Play Online at the-impossiblequiz-gg.github.io</title>padding-left: 0;
}
ul.list-categories li {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px 15px;
 Play Online at the-impossiblequiz-gg.github.io</title>background-color: #c9d2d5;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 12px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 16px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
}
.widget .category-wrapper {
 Play Online at the-impossiblequiz-gg.github.io</title>float: none;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 0;
}
.widget ul.category-item {
 Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>list-style: none;
 Play Online at the-impossiblequiz-gg.github.io</title>padding-left: 0;
}
.category-item li {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 30px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 8px;
}
.category-item li:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.15);
}
ul.category-list-wrapper {
 Play Online at the-impossiblequiz-gg.github.io</title>list-style: none;
 Play Online at the-impossiblequiz-gg.github.io</title>padding-left: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>display: flex;
 Play Online at the-impossiblequiz-gg.github.io</title>flex-wrap: wrap;
 Play Online at the-impossiblequiz-gg.github.io</title>justify-content: center;
}
ul.category-list-wrapper .cat-item {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 5px 10px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 16px;
 Play Online at the-impossiblequiz-gg.github.io</title>width: 155px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #4f5053;
 Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
 Play Online at the-impossiblequiz-gg.github.io</title>text-overflow: ellipsis;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
}
ul.category-list-wrapper .cat-item:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
}
.cat-name {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 30px;
}
.cat-game-amount {
 Play Online at the-impossiblequiz-gg.github.io</title>color: rgba(255, 255, 255, 0.3);
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: normal;
}
.icon-category {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 8px;
}
.category-list-global .icon-category {
 Play Online at the-impossiblequiz-gg.github.io</title>float: left;
}
ul.category-list-game .icon-category {
 Play Online at the-impossiblequiz-gg.github.io</title>float: none;
}
ul.category-list-game {
 Play Online at the-impossiblequiz-gg.github.io</title>list-style: none;
 Play Online at the-impossiblequiz-gg.github.io</title>padding-left: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>display: flex;
 Play Online at the-impossiblequiz-gg.github.io</title>flex-wrap: wrap;
}
ul.category-list-game .cat-item {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 5px 10px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 16px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #4f5053;
 Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
 Play Online at the-impossiblequiz-gg.github.io</title>text-overflow: ellipsis;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
}
ul.category-list-game .cat-item:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
}
.cat-info {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 5px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 30px;
}
.game-info {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #002542 !important;
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px 18px 18px 18px;
 Play Online at the-impossiblequiz-gg.github.io</title>display: flex;
 Play Online at the-impossiblequiz-gg.github.io</title>flex-wrap: wrap;
}
.header-left {
 Play Online at the-impossiblequiz-gg.github.io</title>margin: 10px 0;
}
.header-right {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-left: auto;
 Play Online at the-impossiblequiz-gg.github.io</title>text-align: right;
}
.header-right .btn, .header-right .social-icon {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 10px;
}
.game-iframe-container {
 Play Online at the-impossiblequiz-gg.github.io</title>position: relative;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
 Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>min-height: 600px;
}
.game-iframe {
 Play Online at the-impossiblequiz-gg.github.io</title>position: absolute;
 Play Online at the-impossiblequiz-gg.github.io</title>top: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>left: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>bottom: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>right: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>height: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>z-index: 10;
}
.widget-title {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
}
.btn-default {
 Play Online at the-impossiblequiz-gg.github.io</title>border: 1px solid #bdc0c1;
 Play Online at the-impossiblequiz-gg.github.io</title>background-color: #fff;
}
.b-left {
 Play Online at the-impossiblequiz-gg.github.io</title>position: absolute;
 Play Online at the-impossiblequiz-gg.github.io</title>top: 20px;
}
.b-right {
 Play Online at the-impossiblequiz-gg.github.io</title>position: absolute;
 Play Online at the-impossiblequiz-gg.github.io</title>top: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>right: 10px;
}
.btn-primary {
 Play Online at the-impossiblequiz-gg.github.io</title>background-color: #01b6ff;
 Play Online at the-impossiblequiz-gg.github.io</title>border-color: #13a5df;
}
@media only screen and (max-width: 992px) {
 Play Online at the-impossiblequiz-gg.github.io</title>body {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>background-size: contain;
 Play Online at the-impossiblequiz-gg.github.io</title>}
 Play Online at the-impossiblequiz-gg.github.io</title>.search-bar {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>max-width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>}
 Play Online at the-impossiblequiz-gg.github.io</title>.nav-item Play Online at the-impossiblequiz-gg.github.io</title>{
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px;
 Play Online at the-impossiblequiz-gg.github.io</title>}
}
@media only screen and (max-width: 640px) {
 Play Online at the-impossiblequiz-gg.github.io</title>.top-user {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>width: 80px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin: 10px;
 Play Online at the-impossiblequiz-gg.github.io</title>}
 Play Online at the-impossiblequiz-gg.github.io</title>.leaderboard-cell.user-xp {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 12px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>position: absolute;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>right: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>}
 Play Online at the-impossiblequiz-gg.github.io</title>.leaderboard-cell.rank {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>display: none;
 Play Online at the-impossiblequiz-gg.github.io</title>}
 Play Online at the-impossiblequiz-gg.github.io</title>.post-media .post-thumb {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>float: none;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>overflow: unset;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin-left: 0;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>width: unset;
 Play Online at the-impossiblequiz-gg.github.io</title>}
 Play Online at the-impossiblequiz-gg.github.io</title>.post-media .post-thumb img {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>height: auto;
 Play Online at the-impossiblequiz-gg.github.io</title>}
}
 Play Online at the-impossiblequiz-gg.github.io</title>
.dropdown-icon {
 Play Online at the-impossiblequiz-gg.github.io</title>display: inline-block;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-left: .455em;
 Play Online at the-impossiblequiz-gg.github.io</title>vertical-align: .255em;
 Play Online at the-impossiblequiz-gg.github.io</title>content: "";
 Play Online at the-impossiblequiz-gg.github.io</title>border-top: .3em solid;
 Play Online at the-impossiblequiz-gg.github.io</title>border-right: .3em solid transparent;
 Play Online at the-impossiblequiz-gg.github.io</title>border-bottom: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>border-left: .3em solid transparent;
}
.btn-load-more {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 14px 50px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 40px;
}
.b-load-more {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 40px;
}
.btn-load-more:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.05);
}
.header-right .btn-capsule, .header-right .btn-share {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-left: 10px;
}
.btn-circle {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.4);
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px 15px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 40px;
}
.btn-capsule {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 40px;
}
.btn-capsule:hover, .btn-capsule.active, .btn-circle:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgb(1, 162, 232);
 Play Online at the-impossiblequiz-gg.github.io</title>color: #FFF !important;
}
.b-white {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #000000;
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 18px;
}
.b-login {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-left: 10px;
}
.star-on {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #FFA73F;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 4px;
}
.star-off {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #5C5B5F;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 4px;
}
.b-icon {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 8px;
}
.content-wrapper {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 40px;
}
.highlight-text {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
}
.list-vertical {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
}

/* COMMENTS */

.jquery-comments .textarea-wrapper .textarea {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>border: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 8px;
}
.comments-container {
 Play Online at the-impossiblequiz-gg.github.io</title>border: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 30px;
}
.jquery-comments ul.navigation {
 Play Online at the-impossiblequiz-gg.github.io</title>border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.jquery-comments ul.navigation li.active, .jquery-comments ul.navigation li:hover {
 Play Online at the-impossiblequiz-gg.github.io</title>color: unset;
}
.jquery-comments .textarea-wrapper::before, .jquery-comments .textarea-wrapper::after {
 Play Online at the-impossiblequiz-gg.github.io</title>display: none;
}
.jquery-comments .textarea-wrapper .control-row > span {
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 8px;
}

/* END COMMENTS */

/* BLOG / POST */

.post-title {
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 25px;
}
.post-thumb {
 Play Online at the-impossiblequiz-gg.github.io</title>float: right;
 Play Online at the-impossiblequiz-gg.github.io</title>width: 200px;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-left: 20px;
}
.post-thumb img {
 Play Online at the-impossiblequiz-gg.github.io</title>height: 180px;
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: unset;
}
.post-item {
 Play Online at the-impossiblequiz-gg.github.io</title>display: flex;
}
.post-media {
 Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>padding: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 25px;
}
.post-title a {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
}
.post-meta {
 Play Online at the-impossiblequiz-gg.github.io</title>font-style: italic;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 5px;
}
.page-content {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 40px;
}
/* END BLOG / POST */

/* USER PROFILE */

.user-page {
 Play Online at the-impossiblequiz-gg.github.io</title>background: unset;
}
.user-page .section {
 Play Online at the-impossiblequiz-gg.github.io</title>background-color: rgba(255, 255, 255, 0.1);
}
.profile-comment-item {
 Play Online at the-impossiblequiz-gg.github.io</title>border: 0;
 Play Online at the-impossiblequiz-gg.github.io</title>border-top: 1px solid rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: unset;
}
.user-page .comment-text {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
}
.user-page .comment-date.text-secondary {
 Play Online at the-impossiblequiz-gg.github.io</title>color: unset!important;
}
input.form-control {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 10px;
}

/* USER PROFILE */

#mobile-back-button {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>display: none;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>align-items: center;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>position: fixed;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>z-index: 101;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>top: 100px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>left: 0;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>width: 56px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>height: 46px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>background: rgb(255, 255, 255);
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>box-shadow: rgb(0 0 0 / 24%) 0px 16px 32px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 0px 16px 16px 0px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>cursor: pointer;
}
#mobile-back-button i {
 Play Online at the-impossiblequiz-gg.github.io</title>color: #94a2a2;
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 30px;
 Play Online at the-impossiblequiz-gg.github.io</title>margin-left: 14px;
}
.btn-left, .btn-right {
 Play Online at the-impossiblequiz-gg.github.io</title>z-index: 1;
}

/* LOGIN & REGISTER */

.login-form, .register-form {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
}

/* */

.mobile-thumb-play img {
 Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>opacity: 0.7;
}
.mobile-thumb-play {
 Play Online at the-impossiblequiz-gg.github.io</title>background: #000000;
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
}
#mobile-play {
 Play Online at the-impossiblequiz-gg.github.io</title>position: relative;
}
#mobile-play-btn {
 Play Online at the-impossiblequiz-gg.github.io</title>position: absolute;
 Play Online at the-impossiblequiz-gg.github.io</title>top: 50%;
 Play Online at the-impossiblequiz-gg.github.io</title>left: 50%;
 Play Online at the-impossiblequiz-gg.github.io</title>font-size: 100px;
 Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title>transform: translate(-50%, -50%);
}
.game-container {
 Play Online at the-impossiblequiz-gg.github.io</title>overflow: hidden;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 18px;
}
.color-red {
 Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(238, 19, 39, 0.4);
}
.top-3 {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>text-align: center;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 40px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 40px;
}
.top-user {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>display: inline-block;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>text-align: center;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>position: relative;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
}
.top-number {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>width: 40px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>color: #fff;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 50%;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>position: absolute;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>left: 20%;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>transform: translate(-50%, -50%);
}
.top-avatar img {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 50%;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>display: block;
}
.rank-1 .top-avatar img {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>width: 120px;
}
.leaderboard-table {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>clear: both;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>display: block;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
}.footer-copyright .container {
 Play Online at the-impossiblequiz-gg.github.io</title>text-align: center;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 30px;
}.site-logo {
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 6px;
}
.leaderboard-row {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>background: rgba(255, 255, 255, 0.1);
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>padding: 10px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin-top: 15px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>white-space: nowrap;
}
.leaderboard-cell {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>vertical-align: middle;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>padding: 0 10px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>display: inline-block;
}
.leaderboard-user-avatar img {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>width: 50px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 50%;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>display: block;
}.ff.img-fluid {
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: 100%;
 Play Online at the-impossiblequiz-gg.github.io</title>height: auto;
 Play Online at the-impossiblequiz-gg.github.io</title>border-radius: 20px;
 Play Online at the-impossiblequiz-gg.github.io</title>max-width: 500px;
 Play Online at the-impossiblequiz-gg.github.io</title>width: 100%;
}p {
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 32px;
}.card button {
 Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title>line-height: 30px;
}
.leaderboard-cell.username {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>line-height: 30px;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>min-width: 160px;
}h4{
 Play Online at the-impossiblequiz-gg.github.io</title>color: #FFF;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>font-weight: bold;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>line-height: 40px;

}
.leaderboard-cell.rank {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>float: right;
}
.level-badge {
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>float: left;
 Play Online at the-impossiblequiz-gg.github.io</title> Play Online at the-impossiblequiz-gg.github.io</title>margin-right: 10px;
}
.top-player-wrapper {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
}
.gamelist-widget .list-game {
 Play Online at the-impossiblequiz-gg.github.io</title>margin-bottom: 20px;
}